@{
    
}

<!DOCTYPE html>
     <html lang="en">
     <head>
       <meta charset="utf-8" />
         <title>INVOICE</title>
         <link rel="stylesheet" type="text/css" href="Invoice_Style.css" />
       </head>
     <body>
       <header>
         <h1>Der Gerät sein Rechnungsprogramm</h1>
       </header>
       @RenderBody()
       <div id=”footer”>
         <footer>
           Diese Seite wurde mit Microsoft Webmatrix erstellt. 
           <a href="http://web.ms/webmatrix">Download it now.</a>
         </footer>
       </div>
     </body>
     </html>

