@{
    
}
<div id="mid_container">
<h1>Die Startseite</h1>
    <h2>Wie der Name schon sagt, hier geht es los. Es sollte noch mehr kommen.</h2>
<a href="~/Kunden.cshtml">Kunden</a>
<a href="~/Rechnungen.cshtml">Rechnungen</a>
<a href="~/Messen.cshtml">Messen</a>
</div>