@{
    
}
<div id="mid_container">
<h1>Kunden</h1>
<h2>Auf dieser Seite dreht sich alles um die Kundenverwaltung. Bestehende Kunden können mit einem Klick auf den 
    jeweiligen Kunden bearbeitet oder gelöscht werden. Neue Kunden könnnen mit einem Klick auf NEUEN KUNDEN ANLEGEN erstellt werden.</h2>
</div>